*{
    list-style: none;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}


/*-----Nav------*/
.nav{
    display: flex;
    width: 100%;
    height: 575px;
}

.menu{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    height: 60px;
    width: 100%;
    margin: 10px;
    border-radius: 60px;
}

.logo{
    float: left;
}

.mnu{
    margin-right: 8px;
    float: right;
}

.mnu ul{
    height: 60px;
    display: flex;
}

.mnu ul li{
    margin: 6px;
    align-self: center;
}

.logo img{
    box-shadow: 0px 0px 0px 2px rgb(166, 252, 168);
    width: 67px;
    border-radius: 60px;
}

.mtex{
    height: 100%;
    display: flex;
}

.mtext{
    align-self: center;
    width: 80%;
    margin: auto;
}

.mtext h1{
    color: white;
    background: url(img/abstract-1920x1080-3d-colorful-8k-21250.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xxx-large;
}

.mtext h5{
    font-size: larger;
}

.mtext button{
    box-shadow: 0px 0px 13px 3px #278ea5;
    outline: none;
    padding: 15px;
    margin-left: 10px;
    border: none;
    background: linear-gradient(to right, rgb(168, 255, 120), rgb(120, 255, 214));
    border-radius: 22px;
    font-size: medium;
}

.nv{
    width: 50%;
}

#nv1{
    height: 100%;
    width: 50%;
    background: url(img/banner-04.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 90%;
}

.svg svg{
    position: absolute;
    bottom: 0;
}

/*----Servicos-----*/

.servicos{
    margin: 10px auto;
}

.servico{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
    width: 999px;
    margin: auto;
}

.servic{
    padding: 10px;
    margin:10px auto;
    width: 245px;
    text-align: center;
    box-shadow: 0px 0px 0px 3px whitesmoke;
}

.hr{
    border:1px solid #17b978;
    width: 5%;
}

.img{
    width: max-content;
    margin: auto;
    box-shadow: 0px 0px 0px 2px #17b978;
    border-radius: 11px;
    transform: rotate(45deg);
}

.img img{
    transform: rotate(-45deg);
    width: 49px;
    padding: 8px;
}

.text h1{
    color: #a7ff83;
    font-size: x-large;
}

.text h2{
    font-size: medium;
    width: 96%;
    margin: auto;
}

/*----respec------*/

.respec{
    color: white;
    text-align: center;
    height: 350px;
    width: 100%;
    background: black;
}

.respec h1{
    transform: translateY(10px);
    width: 555px;
    margin: auto;
}

.respec h2{
    transform: translateY(30px);
    width: 700px;
    margin: auto;
    font-size: medium;
}

.stat{
    width: 70%;
    margin: 10px auto;
    display: flex;
}

.sta{
    transform: translateY(40px);
    border-right: 1px dashed whitesmoke;
    width: 50%;
    height: 85px;
}

.sta h3{
    color: #A6FCA8;
    font-size: xx-large;
    margin-top: 10px;
}

.sta h5{
    margin-top: -23px;
    font-size: small;
}

.sta:nth-child(4){
    border: none;
}

/*---PLanos---*/

.planos{
    text-align: center;
    margin: 20px auto;
}

.tabprec{
    width: 200px;
    margin: auto;
}

.tabprec ul{
    background: whitesmoke;
    display: flex;
    border-radius: 30px;
}

.tabprec ul li{
    padding: 7px;
    border-radius: 30px;
    width: 100px;
}

.preco{
    width: 70%;
    margin: auto;
    display: flex;
}

.prec{
    margin: 15px auto;
    width: 200px;
    box-shadow: 0px 0px 0px 2px blueviolet;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.prec img{
    width: 55%;
}

.ptext h1{
    padding: 0;
    margin: 0;
}

.ptext ul{
    text-align: start;
    width: 96%;
    margin: auto;
}

.ptext ul li{
    margin: 7px;
}

.ptext button{
    margin: 9px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(255, 0, 153), rgb(73, 50, 64));
}

/*---Portfolio----*/

.portfolio{
    text-align: center;
}

.portfo{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(430px, 1fr));
}

.port{
    border-radius: 5px;
    width: 430px;
    box-shadow: 0px 0px 0px 1px rgb(166, 252, 168);
    margin: 9px auto;
    padding: 4px;
}

.port img{
    width: 100%;
}
